### Pandas의 통계 메서드

In [5]:
import pandas as pd
import numpy as np
import os

데이터 프레임을 읽어 옵니다:

In [8]:
os.chdir(r"C:\Users\bit\Downloads\머신러닝 알고리즘과 응용\data")

In [9]:
# df = pd.read_csv('data_studentlist_en.csv', header='infer',encoding='ISO-8859-1')
df0 = pd.read_csv('data_iris.csv', header='infer',encoding = 'latin1')

In [10]:
df0.shape

(150, 5)

데이터 프레임의 구조를 한눈에 살펴 봅니다:

In [11]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
Sepal.Length    150 non-null float64
Sepal.Width     150 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

데이터 프레임의 상단과 하단:

In [12]:
df0.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [13]:
df0.tail(3)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

데이터 프레임의 컬럼 이름을 header에 저장합니다:

In [14]:
header = df0.columns
header

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

마지막 컬럼 'Species'과 이외의 Feature를 분리해서 저장해 둡니다:

In [15]:
df = df0.drop(columns = 'Species')
Y = df0.loc[:,'Species']

여러 통계 메서드를 적용해 봅니다:

In [16]:
df.sum(axis=0)

Sepal.Length    876.5
Sepal.Width     458.6
Petal.Length    563.7
Petal.Width     179.9
dtype: float64

In [17]:
df.mean(axis=0)

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [18]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [19]:
df.loc[:,'Sepal.Length'].corr(df.loc[:,'Sepal.Width'])

-0.11756978413300208

In [20]:
df.loc[:,'Sepal.Length'].corr(df.loc[:,'Petal.Length'])

0.87175377588658309

In [21]:
np.round(df.corr(),3)

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length         1.000       -0.118         0.872        0.818
Sepal.Width         -0.118        1.000        -0.428       -0.366
Petal.Length         0.872       -0.428         1.000        0.963
Petal.Width          0.818       -0.366         0.963        1.000

In [22]:
df.corrwith(df.loc[:,'Petal.Length'])

Sepal.Length    0.871754
Sepal.Width    -0.428440
Petal.Length    1.000000
Petal.Width     0.962865
dtype: float64

### Pandas의 켤측치 처리 기능

결측치를 임의로 넣어 봅니다:

In [23]:
df.iloc[10,0] = np.nan
df.iloc[32,2] = np.nan
df.iloc[17,2] = np.nan
df.iloc[129,2] = np.nan

In [24]:
df.count()

Sepal.Length    149
Sepal.Width     150
Petal.Length    147
Petal.Width     150
dtype: int64

여러 통계치를 다시 계산해 봅니다:

In [25]:
df.sum(axis=0)

Sepal.Length    871.1
Sepal.Width     458.6
Petal.Length    555.0
Petal.Width     179.9
dtype: float64

In [26]:
df.sum(axis=0, skipna=False)

Sepal.Length      NaN
Sepal.Width     458.6
Petal.Length      NaN
Petal.Width     179.9
dtype: float64

In [27]:
df.mean(axis=0)

Sepal.Length    5.846309
Sepal.Width     3.057333
Petal.Length    3.775510
Petal.Width     1.199333
dtype: float64

In [28]:
df.mean(axis=0, skipna=False)

Sepal.Length         NaN
Sepal.Width     3.057333
Petal.Length         NaN
Petal.Width     1.199333
dtype: float64

결측치 관련 메소드를 적용해 봅니다:

In [29]:
(df.isnull()).sum(axis=0)

Sepal.Length    1
Sepal.Width     0
Petal.Length    3
Petal.Width     0
dtype: int64

In [30]:
(df.isnull()).mean(axis=0)

Sepal.Length    0.006667
Sepal.Width     0.000000
Petal.Length    0.020000
Petal.Width     0.000000
dtype: float64

In [31]:
df2 = df.dropna(axis=0)

In [32]:
df2.shape

(146, 4)

In [33]:
df2.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [ ]:
df3 = df.dropna(axis=1)

In [ ]:
df3.shape

In [ ]:
df3.head(3)

### Pandas의 시각화 기능

In [ ]:
df = df0.drop(columns = 'Species')
Y = df0.loc[:,'Species']

In [ ]:
%matplotlib inline
df.plot.scatter(x='Petal.Length', y='Petal.Width',c='g',alpha=0.5,marker='o',s=20)

In [ ]:
mycolors = {'setosa':'green', 'virginica':'blue', 'versicolor':'red'}
pd.plotting.scatter_matrix(df,c=np.vectorize(mycolors.get)(Y),alpha=0.8,marker='o',s=10);